PORT=3023
NODE_ENV=development
V_ANALYZER_API_URL=http://localhost:3020/api
V_DEVCONTAINERS_API_URL=http://localhost:3030/api
ALLOWED_ORIGINS=http://localhost:3021,http://localhost:5000,https://your-azure-frontend.azurestaticapps.net
